In [19]:
import pandas as pd
import numpy as np
import random

In [5]:
np.random.randint(1, 1000000)

933680

In [15]:
word_file = "/usr/share/dict/words"
words = open(word_file).read().splitlines()

In [17]:
len(words)

235886

In [20]:
random.choice(words)

'denarcotize'

In [39]:
# make up some sample data

n = 100

income = pd.DataFrame({
        "county": [random.choice(words) for i in range(n)],
        "pop_over_25": [np.random.randint(1, 1000000) for i in range(n)],
        "median_income": [np.random.randint(1, 100000) for i in range(n)]
    })

In [40]:
income.head()

           county  median_income  pop_over_25
0  metapsychology          27642       650949
1        filthily          40135       492882
2      foenngreek          34023       294426
3      catholicos          94235       541913
4           katar          94445       971494

In [41]:
# The first 5 rows of the data.
print(income.head())

min_income = income["median_income"].min()
lowest_income_county = income[income["median_income"] == min_income]["county"].iloc[0]

high_pop = income[income["pop_over_25"] > 500000]
min_income_high_pop = high_pop["median_income"].min()
lowest_income_high_pop_county = high_pop[high_pop["median_income"] == min_income_high_pop]["county"].iloc[0]

           county  median_income  pop_over_25
0  metapsychology          27642       650949
1        filthily          40135       492882
2      foenngreek          34023       294426
3      catholicos          94235       541913
4           katar          94445       971494

In [42]:
lowest_income_county, lowest_income_high_pop_county

('triserially', 'gruff')

In [43]:
income[income["median_income"] == min_income]

         county  median_income  pop_over_25
17  triserially              6        46119

In [44]:
high_pop[high_pop["median_income"] == min_income_high_pop]

   county  median_income  pop_over_25
78  gruff           3644       559735

In [45]:
income["median_income"].idxmin()

17

In [48]:
income["county"][income["median_income"].idxmin()]

'triserially'